.inputContainer {
  background-color: var(--white);
  border: 1px solid var(--input-border);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  height: 100%;
}

.input {
  background-color: var(--white);
  color: var(--font);
  border: none;
  height: 100%;
}

.icon {
  color: var(--primary);
  font-size: var(--font-size-medium);
  flex-shrink: 0;
}