.overlay {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black-transparent);
}

.modal {
    padding: var(--padding-lg);
    background-color: var(--white);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xxl);
    min-width: 20rem;
}