.button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    width: 100%;
    padding: var(--padding-md);
    font-size: var(--font-size-xlarge);
}